/* ====== GLOBAL ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../background.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;

  background-color: #121214;
  color: #ffffff;
}

body * {
  font-family: "Inter", sans-serif;
}

/* ====== SCROLLBAR ====== */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #3f3c48;
}

/* ====== HEADER ====== */
header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 32px;
}

header div {
  width: 120px;
  height: 120px;
  margin: auto;

  background-image: linear-gradient(
    90deg,
    #9572fc 0%,
    #43e7ad 50%,
    #e2d45c 100%
  );
  border-radius: 50%;

  display: flex;
  padding: 4px;

  transition: transform 0.3s;
  animation: fromTop 0.7s 0.2s backwards;
}

header div:hover {
  transform: scale(1.1);
}

header div img {
  width: 100%;
  border-radius: 50%;
}

header h1 {
  margin-top: 8px;
}

/* ====== MAIN ====== */
main {
  max-width: 580px;
  width: 90%;
  margin: 28px auto 32px;

  display: grid;
  row-gap: 24px;
}

/* ====== SECTION ====== */
section {
  background-image: linear-gradient(
    90deg,
    #9572fc 0%,
    #43e7ad 50%,
    #e2d45c 100%
  );
  color: #ffffff;

  padding-top: 4px;
  border-radius: 10px;

  animation: fromBottom 0.7s backwards;
}

section:nth-child(1) {
  animation-delay: 0s;
}

section:nth-child(2) {
  animation-delay: 0.4s;
}

section:nth-child(3) {
  animation-delay: 0.8s;
}

section > div {
  background-color: #2a2634;

  padding: 24px 32px 32px;
  border-radius: 8px;
}

section div h2 {
  letter-spacing: -0.47px;
}

section div p {
  color: #a1a1aa;

  letter-spacing: -0.18px;
}

section div h2,
section div p {
  line-height: 160%;
}

section div ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;

  margin-top: 24px;
}

section div ul li {
  transition: transform 0.3s;
}

section div ul li:hover {
  transform: scale(1.1);
}

/* ====== LISTS ====== */
.games-list li a img {
  width: 90px;
  border-radius: 8px;
}

.channels-list li a img {
  width: 70px;

  border: 1px solid #443e54;
  border-radius: 50%;
}

/* ====== ANIMATIONS ====== */
@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ====== SWIPER ====== */
section#my-games {
  overflow: hidden;
}

section div ul.swiper-wrapper {
  flex-wrap: nowrap;
  column-gap: 0;
}
